<!-- _includes/_partials/_imglinks.njk -->
<div class="container">
    <section class="imglink-section">
        <div class="imglink-title">Book Reviews</div>
        <article class="imglink-link">
        <a class="aligncenter" href="/reviews">
            <img class="img_link" src="/../../assets/images/bookreviews.webp" alt="Book Reviews">
        </a>
        </article>
    </section>
    <section class="imglink-section">
        <div class="imglink-title">Blogging Help</div>
        <article class="imglink-link">
    <a href="/bloghelp">
        <img class="img-link" src="/../../assets/images/blogginghelp.webp" alt="Blogging Help">
    </a>
    </article>
    </section>
    <section class="imglink-section">
        <div class="imglink-title">Blog Tours</div>
        <article class="imglink-link">
    <a href="/tours"><img class="img-link" src="/../../assets/images/blogtours.webp" alt="Blog Tours"></a>
    </article>
    </section>
</div>