<!-- _includes/_partials/_subscribe.njk -->
<div class="sub-wrapper">
    <div class="no-reason">
<div class="form-wrap">
    <section class="subscription-form">
        <div class="mail-wrap">
            <div class="mail">
                <h3 class="join-us">Join the List!</h3>
                <p>Find out what's going on with Charli's Book Box - new posts, maintenance/update plans, &amp; more!</p>
                <form id="charlis-book-box-newsletter" class="subscribe" action="https://d6e6e1b1.sibforms.com/serve/MUIFANfluGjukk9il9921q-WEEaBQp2zshJs4YsYuWoWMVbxKdncNfk9RZQWdEfhV9uhh8_NmAq1NalxUlzJmYqJNc2mpbI_H9jKgnOCx0TiKgImU8LDSZJP6Ck0paa9WvCcQT8Lbf0Hpxva937e2huKdlymRIi8ft0hJYoxhB5fRJNSvxNmELGrTES7E2T5i37iyflN0I85iQEy" method="post" target="_blank" name="subscribe">
                <input id="subbox" class="newsletter" type="email" value="" aria-label="E-mail Address" placeholder="E-mail Address" name="EMAIL" required><br>
                <input id="subbutton" class="newsletter-submit" type="submit" aria-label="Submit form" value="Go">
                </form>
            </div>
        </div>
    </section>
</div>
</div>
</div>