<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>My Eleventy Site - {{ title }}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Prata:wght@300;400;500;600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/assets/css/reset.css">
        <link rel="stylesheet" href="/assets/css/style.css">
        <link rel="stylesheet" href="/assets/css/menu.css">
    </head>
    <body>
        {% include "_partials/_navigation.njk" %}
        <a href="https://charlisbookbox.com"><img class="logo" src="/../../assets/images/cbblol.png" alt="Charli's Book Box"></a>
        <main>
            <div class="single-post">
                <h2 class="post-title">{{ title }}</h2>
                    <span class="post-date">Posted on <span class="readable-date">{{ date | readableDate }}</span> by Charli</span>
                    <article class="post">
                    <p>{{ content | safe }}</p>
                    </article>
        </div>
        </main>
        {% include "_partials/_footer.njk" %}
    </body>
</html>