:root {
    --indigo: #0a2bc9;
    --sky: #0086ff;
    --lightsky: rgba(0, 134, 255, 0.5);
    --turquoise: #00c5f2;
    --mint: #5afbd9;
    --white: #ffffff;
    --darkgray: #202020;
    --black: #000000;
    --lightgray: #e5e1e6;
    --parchment: #F5E8C7;
    --midnight: #1A1A29;
    --charcoal: #454552;
    --gravemoss: #88A987;
    --ominous: #6B4A8D;
}

/* Global Styles */

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* Body Styles */

body {
    /* for older browsers */
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', Arial, Helvetica, Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    background-color: var(--midnight);
    letter-spacing: 1.2px;
    margin-top: 20px;
}

p {
    margin: 0 0 30px;
    padding: 0;
}

strong {
    font-weight: bold;
}

i {
    font-style: italic;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
    color: var(--ominous);
}

ul {
    padding-left: 10px;
}


/* Link Styles */

a {
    color: var(--gravemoss);
    text-decoration: none;
}

a:hover {
    color: var(--ominous);
    text-decoration: underline;
}

a:active {
    color: var(--gravemoss);
    text-decoration: underline;
}

a:visited {
    color: var(--ominous);
    text-decoration: none;
}

/* Wrapper Styles */

.wrapper {
    background-color: var(--parchment);
    width: 80%;
    margin: auto;
}

/* Image Styles */

img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

/* Navigation Menu Styles */

.topnav {
    height: 4.5 rem;
    width: 80%;
    margin: auto;
    background-color: var(--midnight);
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    /*padding-left: 200px;
    z-index: 1000;*/
}

.nav-links {
    display: flex;
    align-items: left;
    justify-content: flex-start;
    float: left;
    width: calc(100% - 260px);
}

.nav-links a {
    display: block;
    color: var(--gravemoss);
}

.nav-links a:active {
    color: var(--ominous);
}

.nav-links a:hover {
    color: var(--ominous);
}

.nav-links a:visited {
    color: var(--ominous);
}

.menu {
    display: flex;
    font-size: 16px;
}

.menu li {
    list-style-type: none;
}

.menu li:hover {
    background-color: var(--parchment);
    border-radius: .3125em;
    transition: 0.3s ease;
}

.menu li {
    padding: .3125em .875em;
}

/* Responsive Menu Start */

/* Checkbox Hack */
input[type=checkbox] {
    display: none;
}

/* Hamburger Styles */

.hamburger {
    display: none;
    font-size: 1.5em;
    user-select: none;
}

/* Navigation Media Queries */
@media (max-width: 800px) {
    .menu {
        display: none;
        position: absolute;
        background-color: var(--midnight);
        right: 0;
        left: 0;
        text-align: center;
        padding: 1em 0;
    }

    .menu li {
        list-style-type: none;
    }

    .menu li:hover {
        display: inline-block;
        background-color: var(--parchment);
        color: var(--darkgray);
        transition: 0.3s ease;
    }

    input[type=checkbox]:checked ~ .menu {
        display: block;
    }

    .hamburger {
        display: block;
        font-size: 13px;
    }
}

/* Social Media Icons*/

.socialnav {
    display: flex;
    align-items: right;
    justify-content: flex-end;
    float: right;
    width: 260px;
    /*padding-right: 200px;*/
}

.social-items {
    padding-right: 15px;
    color: var(--gravemoss);
}

.social-items a {
    color: var(--gravemoss);
}

.socialnav li {
    list-style-type: none;
}

header {
    height: 220px;
    line-height: 220px;
    /*position: relative;*/
    background-image: url('/assets/images/cloudsbg.png');
    background-color: var(--ominous);
    color: #202020;
    text-align:center;
    top: 20px;
    width: 80%;
    margin: auto;
}

header h1 {
    font-family: 'Metal Mania', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 120px;
}

/* Logo Styles */

.logo {
    display: inline-block;
    vertical-align: middle;
    width: 600px;
    height: 150px;
    clear: both;
}

/* List Styles */

ol {
    list-style-type: decimal;
}

ul {
    list-style-type: disc;
}

/* Main Styles */

.post-page {
    margin: auto;
    display: flow-root;
    background-color: var(--parchment);
    float: left;
    width: 70%;
}

/* Pagination Styles */

.pagination {
    display: flex;
    gap: 1.5em;
    justify-content: center;
    padding-bottom: 20px;
    clear: both;
}

.pagination a {
    text-decoration: none;
    color: var(--ominous);
    background-color: var(--parchment);
    padding: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.pagination a:not(.pagination__link) {
    border: 2px var(--ominous) solid;
}

.pagination__link {
    font-size: 1em;
}

/* Review Information Styles */

.single-post {
    margin-top: 0px;
    margin-left: 6.8125em;
}

.single-post h2 {
    font-size: 40px;
    color: var(--gravemoss);
}

.post {
    padding-top: 10px;
}

.post-image {
    padding-right: 10px;
    float: left;
}

.post-date {
    padding-bottom: 10px;
}

.review-info img {
    float: left;
    padding-right: .9375em;
    margin-top: -30px;
    margin-left: -15px;
    height: auto;
    max-width: 35%;
    }
    
.review-info {
        border: medium double var(--ominous);
        background-color: var(--gravemoss);
        margin-bottom: 2.5em;
        min-height: 15.625em;
        padding-top: .9375em;
        margin-left: .8125em;
        margin-top: 1.875em;
        clear: left;
    }

.review-description {
    padding-top: .25em;
    padding-left: 10px;
    padding-right: 5px;
    margin-top: 10px;
}

.review-description li {
    list-style-type: none;
}

.the_review {
    margin-left: .8125em;
    margin-bottom: 20px;
}

/* Sidebar Styles */

.sidebar {
    float: right;
    width: 25%;
    margin-bottom: 20px;
    padding-right: 20px;
}

.widget-title {
    font-size: 30px;
    text-align: center;
    color: var(--gravemoss);
    margin-bottom: 10px;
}

.bio-widget img {
    width: 50%;
    height: 50%;
    border-radius: 100px;
}

.bio-widget {
    text-align: center;
}

.bio-widget p {
    margin-top: -30px;
}

.social-icons {
    text-align: center;
}

.social-icons a {
    color: var(--ominous);
}

.blogroll {
    text-align: center;
}

.blogroll ul {
    list-style-type: square;
    list-style-position: inside;
}

footer {
    clear: both;
    background-color: var(--ominous);
    color: var(--parchment);
    padding: 2rem;
    margin-top: auto;
    text-align: center;
    width: 80%;
    margin: auto;
}

footer a {
    color: var(--gravemoss);
}