/*  Globals */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* Body Styles */

body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    background-color: white;
    letter-spacing: 1.2px;
}

p {
    margin: 0 0 30px;
    padding: 0;
}

/* Link Styles */

a {
    color: #0281ae;
    text-decoration: none;
}

a:hover {
    color: #202020;
    text-decoration: none;
}

/* Image Styles */

img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

/* Content Styles */

.archive__header {
    font-size: 3.75em;
    text-align: center;
    margin-bottom: 1.25em;
    margin-top: .25em;
}

main {
    max-width: 50rem;
    margin: 0 auto;
    padding: 3rem 2rem;
    min-height: 100vh;
}

main > h1 {
    margin: 2rem 0 0.5rem;
}

main > img {
    border-radius: 5px;
}

/* Post Styles */

.single-post {
    margin-left: 0;
    padding-left: 0;
}

.post-title {
    margin-top: 3.125em;
    margin-left: 1.4em;
    line-height: 90%;
}

.post-date {
    line-height: 1;
    margin-top: .3125em;
    margin-left: 3.4em;
    margin-bottom: 1.875em;
    padding-bottom: 1.25em;
}

.post {
    max-width: 90%;
    margin-top: 1.875em;
    margin-bottom: 1.875em;
    background-color: white;
    padding: .625em;
}

/* Review Information Styles */

.review-info img {
    padding-right: .9375em;
    margin-top: -30px;
    margin-left: -15px;
    height: 50%;
    width: 50%;
    }
    
.review-info {
        border: medium double white;
        background-color: #ffc861;
        margin-bottom: 2.5em;
        min-height: 15.625em;
        padding-top: .9375em;
        width: 60%;
        margin-left: 10.8125em;
        margin-top: 1.875em;

    }

.review-description {
    padding-top: .25em;
}

/* Footer Styles */

footer {
    background-color: #ffc861;
    color: #202020;
    padding: 2rem;
}

/* Media Queries */
@media only screen and (max-width: 800px) {
    .container {
        flex-wrap: wrap;
        margin: 0 auto 20px;
        padding: 5px;
    }

    .logo {
        width: 50%;
        height: 50%;
    }
    
    .imglink-section {
        margin: 0 auto 20px;
        width: 100%;
    }

    .imglink-title {
        margin: 0% 25%;
    }

    .newsletter, .newsletter-submit {
        width: 100% !important;
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 1145px) {
    .join-us {
        width: 100%;
        border-right: 0;
        padding-top: 0;
    }

    .mail p {
        width: 100%;
        padding-top: 0;
        margin-bottom: 10px;
    }
}