---
layout: page.njk
title: Who's That Girl?
---
<h2>Vital Stats</h2>
Name: Charity<br>
Nickname: Charli<br>
Birthday: 12/24<br>
Occupation: Cybersecurity Student<br>
Current Residence: Colorado Springs, CO<br><br>
<h2>Favorite Things</h2>
<h3>Video Games</h3>
<ul>
<li>Kingdom Hearts</li>
<li>Animal Crossing</li>
<li>The Legend of Zelda</li>
<li>Final Fantasy</li>
<li>Dark Cloud</li>
<li>MarioKart</li>
<li>Super Mario Bros.</li>
<li>Stardew Valley</li>
<li>Graveyard Keeper</li>
<li>Marvel's Midnight Suns</li>
</ul><br><br>
<h3>Movies/Shows</h3>
<ul>
<li>The Nightmare Before Christmas</li>
<li>Beetlejuice</li>
<li>Gothika</li>
<li>Ironman</li>
<li>Ironman 2</li>
<li>Ironman 3</li>
<li>Doctor Strange</li>
<li>Avengers</li>
<li>Avengers: Age of Ultron</li>
<li>Avengers: Infinity War</li>
<li>Avengers: Endgame</li>
<li>Thor: Ragnarok</li>
<li>Sherlock Holmes</li>
<li>Sherlock Holmes: Game of Shadows</li>
<li>Hansel &amp; Gretel: Witch Hunters</li>
<li>Stranger Things</li>
<li>Criminal Minds</li>
<li>CSI</li>
<li>CSI: Miami</li>
<li>NCIS</li>
<li>Mayor of Kingstown</li>
<li>Hawkeye</li>
<li>Loki</li>
<li>Deadpool</li>
<li>Deadpool 2</li>
<li>Deadpool &amp; Wolverine</li>
<li>X-Men '94</li>
<li>Wednesday</li>
</ul><br><br>
<h3>Bands/Musicians</h3>
<ul>
<li>Five Finger Death Punch</li>
<li>Shinedown</li>
<li>Deadset Society</li>
<li>Tense Machine</li>
<li>Def Leppard</li>
<li>Halestorm</li>
<li>Starset</li>
<li>Breaking Benjamin</li>
<li>Reid Henry</li>
<li>Three Days Grace</li>
<li>Lady Gaga</li>
<li>Ice Nine Kills</li>
<li>Type O Negative</li>
<li>Nickelback</li>
<li>Evanescence</li>
<li>Jeremy Renner</li>
<li>My Darkest Days</li>
<li>Skillet</li>
<li>Theocracy</li>
<li>Disciple</li>
<li>Demon Hunter</li>
<li>Crown of the King</li>
<li>Anberlin</li>
<li>Matty Mullins</li>
<li>Memphis May Fire</li>
<li>Fit for a King</li>
<li>Papa Roach</li>
</ul><br><br>

<h3>Book Series</h3>
<ul>
<li>Temperance Brennan (Bones)</li>
<li>Oz</li>
<li>Dragonlance</li>
<li>Good Girl's Guid to Murder</li>
</ul>