---
layout: page.njk
title: Review Policy
---
<h2>Preferred Genres – Books</h2>
<p>My preferred genres for reading are as follows, leaning heavily on Young Adult/New Adult books:</p>
<ul>
<li>Horror</li>
<li>Sci-Fi/Fantasy</li>
<li>Paranormal (ghosts, witches, zombies, etc.)</li>
<li>Dystopian/Post-Apocalyptic</li>
<li>Mystery/Thriller</li>
</ul><br>

<h2>Genres I Do Not Generally Read</h2>
<p>I am not a particularly fan of the following genres, but will read them upon occasion:</p>
<ul>
<li>Romance</li>
<li>Non-fiction</li>
<li>Biographies</li>
<li>Autobiographies</li>
</ul><br>
<p>Exceptions to the biography/autobiography rule are music related, such as band or musician biographies/autobiographies. I love those.</p>

<h2>Preferred Genres – Games</h2>
<p>For games, I prefer the following genres:</p>
<ul>
<li>Cozy Games</li>
<li>Fantasy RPGs (Zelda, Final Fantasy, Kingdom Hearts, Dark Cloud, etc)</li>
<li>Racing games (NASCAR, MarioKart, etc)</li>
</ul><br>

<p>While I do not typically play horror games, I am willing to try them out. However, I am not a huge fan of open world games. I will attempt them, but I must warn you, I am not good at them.</p>

<h2>Games I Do Not Play</h2>
<p>I do not play first-person games such as Call of Duty, Overwatch, etc.. It is not because I am not interested in these types of games, but because I become physically ill while playing them (motion sickness).</p>

<h2>Book Formats</h2>
I accept both physical copies of books and eBooks. I prefer Kindle/PDF/ePub.

<h2>Game Formats</h2>
<p>I can play games on Nintendo Platforms such as DS, 2DS/3DS, Wii, and Switch. I can play games on PlayStation consoles such as PS2, PS3, and PS4. I do not have X-Box, Switch 2, or PS5. As for PC games, I can play them if they will work on Windows, macOS, or Linux.</p>

<h2>Review Information</h2>
<p>Book, game, console, and accessory (hereafter known as product) reviews will always be my own opinions and will not always be positive. If you are looking for positive reviews only, please do not approach me about reviewing your product. I will <strong>not</strong> contact you prior to posting a negative review of the product. Regardless of the source of the product, this is my blog and my true opinion will be expressed.</p>

<p><strong>Regarding deadlines:</strong> If you have a specific date by which you want your product to be reviewed, you <strong>must</strong> tell me when you originally contact me. If you do not specify at the time you request a product review, I will review your product when I get to it.</p>